body {
    background-color: white;
}

.card {
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}


#header {
    background-color: white;
}

/* .work {
    background-color: orange;
}

.hobby {
    background-color: red;
} */

/* .card h2 {
    font-size: 14px;
} */